<include file="Public::mhead" />

<div class="bannertop">
	<img alt="" src="<{$banner.thumbnail}>" />
	<div class="bannertop-more"><a href="<{:U('Video/index')}>">点我学习</a></div>
</div>

<div class="cont-edu-bantxt">
	<img src="__PUBLIC__/Mobile/images/quol.png" alt="">
	<p><{:html_entity_decode($info['content'])}></p>
	<img src="__PUBLIC__/Mobile/images/quor.png" alt="">
</div>

<div class="edu-class">
	<h1>什马大讲堂</h1>
	<img src="__PUBLIC__/Mobile/images/edu1.jpg" alt="">
	<img src="__PUBLIC__/Mobile/images/edu2.jpg" alt="">
	<img src="__PUBLIC__/Mobile/images/edu3.jpg" alt="">
	<img src="__PUBLIC__/Mobile/images/edu4.jpg" alt="">
</div>


<div class="edu-boss">
	<h1>老板社区</h1>
	<img src="<{$shequ.thumbnail}>" alt="">
</div>
	

<include file="Public::mfoot" />


</body>
</html>
