<div style="float:left" id="my_menu" class="sdmenu">
	<div>
		<span><a href="<{:U('Admin/Index/index')}>">后台首页</a></span>
	</div>
	<div>
		<span>内容管理<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a>首页</a>
		<a href="<{:U('Banner/index', array('classify' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Aboutus/shouye')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于什马</a>
		<a href="<{:U('Carousel/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轮播图设置</a>
		<a href="<{:U('Brand/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作品牌</a>
		<a href="<{:U('Nav/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;底部导航设置</a>
		<a>借款申请</a>
		<a href="<{:U('Banner/edit', array('id' => 6 ))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Icon/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图标设置</a>
		<a href="<{:U('Banner/index', array('classify' => 4))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中部Banner设置</a>
		<a href="<{:U('Product/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品设置</a>
		<a>关于什马</a>
		<a href="<{:U('Banner/edit', array('id' => 5))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Aboutus/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马介绍</a>
		<a href="<{:U('Develop/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发展历程</a>
		<a href="<{:U('Team/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;核心团队</a>
		<a href="<{:U('Info/index', array('id' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小暖炉助学计划</a>
		<a>新闻资讯</a>
		<a href="<{:U('Banner/edit', array('id' => 9))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Banner/index', array('classify' => 8))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新闻轮播Banner图</a>
		<a href="<{:U('Article/index', array('cate_id' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马新闻</a>
		<a href="<{:U('Article/index', array('cate_id' => 2))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行业动态</a>
		<a>老板商学院</a>
		<a href="<{:U('Banner/edit', array('id' => 10))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Info/index', array('id' => 2))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商学院简介</a>
		<a href="<{:U('Banner/edit', array('id' => 11))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;老板社区</a>
		<a>联系我们</a>
		<a href="<{:U('Banner/edit', array('id' => 12))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Department/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地点部门设置</a>
		<a href="<{:U('Post/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位设置</a>
		<a href="<{:U('Qc/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题栏目</a>
		<a href="<{:U('Question/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题设置</a>
		<a href="<{:U('Message/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留言信息</a>
	</div>
	<volist name="user_auth_list" id="vo">
	<if condition="$vo[0][auth_id] != 1">
	<div>
		<span><{$vo[0]['auth_name']}><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<volist name="vo" id="val" offset ="1">
			<if condition="$val['status'] == 1">
		<a href="<php>echo U($val['auth_url'])</php>"><{$val.auth_name}></a>
			</if>
		</volist>
	</div>
	</if>
	</volist>
</div>