<div style="float:left" id="my_menu" class="sdmenu">
	<div>
		<span><a href="<{:U('Admin/Index/index')}>">后台首页</a></span>
	</div>
	<div>	
		<span>首页<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/index', array('classify' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Aboutus/shouye')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于什马</a>
		<a href="<{:U('Carousel/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轮播图设置</a>
		<a href="<{:U('Brand/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作品牌</a>
		<a href="<{:U('Nav/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;底部导航设置</a>
		<a href="<{:U('Add/index', array('classify' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页附加信息</a>
	</div>
	<div>
		<span>借款申请<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/edit', array('id' => 6 ))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Icon/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图标设置</a>
		<a href="<{:U('Banner/index', array('classify' => 4))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商家中部设置</a>
		<a href="<{:U('Product/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商家产品设置</a>
		<a href="<{:U('Add/index', array('classify' => 2))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商家附加信息</a>
		<a href="<{:U('Banner/edit', array('id' => 16))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费者商品分期</a>
		<a href="<{:U('Productf/index', array('classify' => 16))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费者商品图</a>
		<a href="<{:U('Banner/edit', array('id' => 17))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费者现金分期</a>
		<a href="<{:U('Productf/index', array('classify' => 17))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费者现金图</a>
		<a href="<{:U('Add/index', array('classify' => 3))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消费者附加信息</a>
	</div>
	<div>
		<span>关于什马<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/edit', array('id' => 5))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Aboutus/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马介绍</a>
		<a href="<{:U('Develop/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发展历程</a>
		<a href="<{:U('Team/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;核心团队</a>
		<a href="<{:U('Info/index', array('id' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小暖炉助学计划</a>
		<a href="<{:U('Add/index', array('classify' => 4))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;附加信息</a>
	</div>
	<div>
		<span>新闻资讯<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/edit', array('id' => 9))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Banner/index', array('classify' => 8))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新闻Banner图</a>
		<a href="<{:U('Article/index', array('cate_id' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马新闻</a>
		<a href="<{:U('Article/index', array('cate_id' => 2))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行业动态</a>
		<a href="<{:U('Add/index', array('classify' => 5))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;附加信息</a>
	</div>
	<div>
		<span>老板商学院<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/edit', array('id' => 10))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Info/index', array('id' => 2))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商学院简介</a>
		<a href="<{:U('Banner/edit', array('id' => 18))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马大讲堂</a>
		<a href="<{:U('Banner/edit', array('id' => 11))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;老板社区</a>
		<a href="<{:U('Add/index', array('classify' => 6))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;附加信息</a>
	</div>
	<div>	
		<span>联系我们<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Banner/edit', array('id' => 12))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner设置</a>
		<a href="<{:U('Department/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地点部门设置</a>
		<a href="<{:U('Post/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职位设置</a>
		<a href="<{:U('Qc/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题栏目</a>
		<a href="<{:U('Question/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题设置</a>
		<a href="<{:U('Message/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留言信息</a>
		<a href="<{:U('Add/index', array('classify' => 7))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;附加信息</a>
	</div>
	<div><span></span></div>
	<div>
		<span><a href="<{:U('Admin/Index/index')}>">移动端管理</a></span>
	</div>
	<div>	
		<span>首页<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Bannerm/index', array('classify' => 1))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
	</div>
	<div>	
		<span>老板商学院<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Bannerm/edit', array('id' => 3))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
	</div>
	<div>	
		<span>学习视频<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a href="<{:U('Videoc/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;栏目设置</a>
		<a href="<{:U('Video/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视频设置</a>
	</div>
	<div><span></span></div>
	<volist name="user_auth_list" id="vo">
	<if condition="$vo[0][auth_id] != 1">
	<div>
		<span><{$vo[0]['auth_name']}><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<volist name="vo" id="val" offset ="1">
			<if condition="$val['status'] == 1">
		<a href="<php>echo U($val['auth_url'])</php>"><{$val.auth_name}></a>
			</if>
		</volist>
	</div>
	</if>
	</volist>

</div>