<div style="float:left" id="my_menu" class="sdmenu">
	<div>
		<span><a href="<{:U('Admin/Index/index')}>">后台首页</a></span>
	</div>
	<div>
		<span>内容管理<i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<a>首页</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Brand/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作品牌</a>
		<a>借款申请</a>
		<a>关于什马</a>
		<a href="<{:U('Banner/edit', array('id' => 5))}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Banner图设置</a>
		<a href="<{:U('Aboutus/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马介绍</a>
		<a href="<{:U('Develop/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发展历程</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;核心团队</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小暖炉助学计划</a>
		<a>新闻资讯</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什马新闻</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行业动态</a>
		<a>老板商学院</a>
		<a>联系我们</a>
		<a href="<{:U('Banner/index')}>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留言信息</a>
	</div>
	<volist name="user_auth_list" id="vo">
	<div>
		<span><{$vo[0]['auth_name']}><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
		<volist name="vo" id="val" offset ="1">
			<if condition="$val['status'] == 1">
		<a href="<php>echo U($val['auth_url'])</php>"><{$val.auth_name}></a>
			</if>
		</volist>
	</div>
	</volist>
</div>