<!--页脚-->
<div class="boxfoot">
    <h3>什马分期 就是低息</h3>
    <h2>服务热线：400-088-6177</h2>
    <div class="boxfootqra">
        <div class="boxfootqr">
            <img src="__PUBLIC__/Mobile/images/qr01.jpg" alt="">
            <p>商户APP下载</p>
        </div>
        <div class="boxfootqr">
            <img src="__PUBLIC__/Mobile/images/qr02.jpg" alt="">
            <p>什马个人号</p>
        </div>
        <div class="boxfootqr">
            <img src="__PUBLIC__/Mobile/images/qr03.jpg" alt="">
            <p>什马商户号</p>
        </div>
    </div>
    <div class="boxfooticp"><p>什马互联网金融信息服务(上海)有限公司 | 沪ICP备15005382号-2</p></div>
</div>