<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
	<link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
	<script src="__JS__/jquery-1.11.1.min.js"></script>
	
    <script src="__JS__/bootstrap.min.js"></script>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploader/webuploader.css">
<!--引入JS-->
<script type="text/javascript" src="__PUBLIC__/Admin/uploader/webuploader.js"></script>
</head>
<body>
<include file="Public:nav_top" />
<include file="Public:nav_left" />

<div class="cont">
	<div class="contmain">
		
		<div class="boxi">
			<h1>编辑合作品牌</h1>
			
			<form action="<{:U('brand/edit')}>" method="post" enctype="multipart/form-data">
				<div class="boxin">
					<span>链&nbsp;接&nbsp;名&nbsp;称</span><input type="text" name="name" class="form-control" value="<{$brand_data.name}>">
				</div>
				<div class="boxin">
					<span>链&nbsp;接&nbsp;地&nbsp;址</span><input type="text" name="url" class="form-control" value="<{$brand_data.url}>">
				</div>
              <div class="boxinb">
                    <div id="uploader-demo">
                        <!--用来存放item-->
                        
                        <div id="filePicker">选择图片</div>
                        <input id="thumbnail" type="hidden" name="thumbnail" value="<{$brand_data.thumbnail}>">
                        <img id="oldimg" src="<{$brand_data.thumbnail}>" width="300px" height="200px">
                        <div id="fileList" class="uploader-list"></div>
                    </div>
              </div>

	            <div class="boxinb">
	                <div class="boxinbl">
	                    <span>状态</span>
	                    <select name="status" class="form-control">
	                        <option value="0" <if condition="$brand_data['status'] == 0"> selected </if>>禁用</option>
	                        <option value="1" <if condition="$brand_data['status'] == 1"> selected </if>>启用</option>  
	                    </select>
	                </div>
	            </div>
	            <div class="boxinb">
	                <div class="boxinbl">
	                    <span>新页面打开</span>
	                    <select name="is_blank" class="form-control">
	                        <option value="0" <if condition="$brand_data['is_blank'] == 0"> selected </if>>否</option>
	                        <option value="1" <if condition="$brand_data['is_blank'] == 1"> selected </if>>是</option>  
	                    </select>
	                </div>
	            </div>


				<div class="boxinbtn">
					<input type="hidden" name="id" value="<{$brand_data.id}>">
					<input type="submit"  value="确定" class="btn btna" />
					<input type="reset"  value="重置" class="btn btnb" />
				</div>
				
			</form>
		</div>
	
	</div>
</div>
<script src="__JS__/sdmenu.js"></script>
<script type="text/javascript">
var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼。 
   // var $btn =$("#ctlBtn");   //开始上传  
   var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
   var thumbnailHeight = 100;  
// 初始化Web Uploader
var uploader = WebUploader.create({
    // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    swf: '__PUBLIC__/Admin/uploader/Uploader.swf',
    // 文件接收服务端。
    server: '<{:U('Admin/Banner/up')}>',
    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',
    // // 只允许选择图片文件。
    // accept: {
    //     title: 'Images',
    //     extensions: 'gif,jpg,jpeg,bmp,png',
    //     mimeTypes: 'image/*'
    // }
});
// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
        $img = $li.find('img');
    // $list为容器jQuery实例
    $list.append( $li );
    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }
        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});
   // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
   uploader.on( 'uploadSuccess', function( file , response) {  
        $('#oldimg').remove();
        $("#thumbnail").attr('value', '/Public/Upload/'+response);
   });  

</script>
</body>
</html>
