				<volist name="departments" id="department">
					<a data-toggle="collapse" data-target="#claps-tit<{$i}>r">
						<div class="panel-info-titl"><!-- <img src="__PUBLIC__/Home/img/navimg01.jpg" alt=""/><br/> --><{$department.name}></div>
					</a>
					<div id="claps-tit<{$i}>r" class="claps-area collapse in">
						<div class="container-fluid">
							<div class="row">
								<volist name="posts" id="post">
								<if condition="$post['cate_id'] == $department['id']">
								<li class="post" post="<{$post['id']}>"><a href="javascript:;" ><{$post.name}></a></li>
								</if>
								</volist>
							</div>
						</div>
					</div>
				</volist>
