<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
    <link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
    <script src="__JS__/jquery-1.11.1.min.js"></script>

    <script src="__JS__/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <include file="Public:nav_top" />
    <include file="Public:nav_left" />

    <div class="cont">
       <div class="contmain">

          <div class="boxi">
             <h1>编辑团队信息</h1>

             <form action="<{:U('Team/edit')}>" method="post" enctype="multipart/form-data">
                <div class="boxin">
                   <span>姓&nbsp;&nbsp;&nbsp;&nbsp;名</span><input type="text" name="name" class="form-control" value="<{$team.name}>">
               </div>
                <div class="boxin">
                   <span>职&nbsp;&nbsp;&nbsp;&nbsp;务</span><input type="text" name="post" class="form-control" value="<{$team.post}>">
               </div>
               <div class="boxinb">
                <span>图片</span>
                <input type="file" name="file_upload" id="file_upload" />
                <img id="thumbnail" src="<{$team.thumbnail}>" width="300px" height="200px" >
                <input id="article-thumbnail" type="hidden" name="thumbnail" value="<{$team.thumbnail}>">
               </div> 
                <div class="boxinb">
                   <span>简&nbsp;&nbsp;&nbsp;&nbsp;介</span><input type="text" name="content" class="form-control" value="<{$team.content}>">
               </div>
                <div class="boxinb">
                   <span>顺&nbsp;&nbsp;&nbsp;&nbsp;序</span><input type="text" name="sort" class="form-control" value="<{$team.sort}>">
               </div>
               <input type="hidden" name="id" value="<{$team.id}>">
            <div class="boxinbtn">
               <input type="submit"  value="确定" class="btn btna" />
               <input type="reset"  value="重置" class="btn btnb" />
           </div>

       </form>
   </div>

</div>
</div>
<script src="__JS__/sdmenu.js"></script>
<script type="text/javascript">

        $(function(){
        <?php $timestamp = time();?>
        $('#file_upload').uploadify({
            'formData' : {
                'timestamp' : '<?php echo $timestamp;?>',
                'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
            },
            'swf'      : '__PUBLIC__/Admin/uploadify/uploadify.swf',
            'uploader' : '__PUBLIC__/Admin/uploadify/uploadify.php',
            'onUploadSuccess' : function(file, data, response) {
                $("#thumbnail").attr('src', data);
                $("#thumbnail").show();
                $("#article-thumbnail").val(data);
            }
        });
    });
</script>


</body>
</html>
