<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
	<link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
	<script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/laydate/laydate.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/lang/zh_CN.js"></script>
	<script>
		KindEditor.ready(function(K) {
			window.editor = K.create('#editor_id');
		});
	</script>

	
</head>
<body>

<include file="Public:nav_top" />
<include file="Public:nav_left" />

<div class="cont">
	<div class="contmain">
		
		<div class="boxi">
			<h1>编辑职位</h1>
			
			<form action="<{:U('Post/edit')}>" method="post" enctype="multipart/form-data">
				<div class="boxinb">
					<span>职位名称</span><input type="text" class="form-control"  name="name" value="<{$post_data.name}>">
				</div>
				<div class="boxinb">
					<div class="boxinbl">
						<span>文章分类</span>
						<select name="cate_id" class="form-control">
							<option value="0">请选择部门分类</option>
							<volist name="department_data" id="vo">
							<option value="<{$vo.id}>" <if condition="$vo['id'] == $post_data['cate_id']"> selected</if>
							><{:str_repeat('----',$vo['level'])}><{$vo.name}></option>
							</volist>
						</select>
					</div>
				</div>
				<div class="boxuediter">
					<div class="lets2">正&nbsp;&nbsp;&nbsp;&nbsp;文</div>
					<div class="uediter">

						<textarea id="editor_id" name="content" style="width:700px;height:300px;">
							<{$post_data.content}>
						</textarea>

					</div>
				</div>
				<div class="boxinbtn">
					<input type="hidden" name="id" value="<{$post_data.id}>">
					<input type="submit" value="确定" class="btn btna" />
					<input type="reset" value="重置" class="btn btnb" />
				</div>
				
			</form>
		</div>
	
	</div>
</div>
<script>
	;!function(){
		laydate({
		   elem: '#demo'
		})
	}();
</script>
<script src="__JS__/sdmenu.js"></script>
<script>
	$(".upfn").on("change","input[type='file']",function(){
	var filePath = $(this).val();
	var arr = filePath.split('\\');
	var fileName = arr[arr.length-1];
	$(".upfnb").html(fileName);
	});
</script>
</body>
</html>
