<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
    <link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
    <script src="__JS__/jquery-1.11.1.min.js"></script>

    <script src="__JS__/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <include file="Public:nav_top" />
    <include file="Public:nav_left" />

    <div class="cont">
       <div class="contmain">

          <div class="boxi">
             <h1>编辑轮播图</h1>

             <form action="<{:U('Carousel/edit')}>" method="post" enctype="multipart/form-data">
                <div class="boxin">
                   <span>轮播图名称</span><input type="text" name="name" class="form-control" value="<{$carousel.name}>">
               </div>
               <div class="boxinb">
                <span>左侧图</span>
                <input type="file" name="file_upload1" id="file_upload1" />
                <img id="thumbnail1" src="<{$carousel.thumbnail1}>" width="300px" height="200px" style="display: none">
                <input id="article-thumbnail1" type="hidden" name="thumbnail1" value="<{$carousel.thumbnail1}>">
               </div> 
               <div class="boxinb">
                <span>右侧图</span>
                <input type="file" name="file_upload2" id="file_upload2" />
                <img id="thumbnail2" src="<{$carousel.thumbnail2}>" width="300px" height="200px" style="display: none">
                <input id="article-thumbnail2" type="hidden" name="thumbnail2" value="<{$carousel.thumbnail2}>">
               </div> 
               <div class="boxinb">
                <span>右侧隐藏图</span>
                <input type="file" name="file_upload3" id="file_upload3" />
                <img id="thumbnail3" src="<{$carousel.thumbnail3}>" width="300px" height="200px" style="display: none">
                <input id="article-thumbnail3" type="hidden" name="thumbnail3" value="<{$carousel.thumbnail3}>">
               </div> 
                <div class="boxinb">
                   <span>顺&nbsp;&nbsp;&nbsp;&nbsp;序</span><input type="text" name="sort" class="form-control" value="<{$carousel.sort}>">
               </div>
               <input type="hidden" name="id" value="<{$carousel.id}>">
            <div class="boxinbtn">
               <input type="submit"  value="确定" class="btn btna" />
               <input type="reset"  value="重置" class="btn btnb" />
           </div>

       </form>
   </div>

</div>
</div>
<script src="__JS__/sdmenu.js"></script>
<script type="text/javascript">

        $(function(){
        $('#file_upload1').uploadify({
            'formData' : {
              <?php $timestamp = time(); ?>
                'timestamp' : '<?php echo $timestamp;?>',
                'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
            },
            'swf'      : '__PUBLIC__/Admin/uploadify/uploadify.swf',
            'uploader' : '__PUBLIC__/Admin/uploadify/uploadify.php',
            'onUploadSuccess' : function(file, data, response) {
                $("#thumbnail1").attr('src', data);
                $("#thumbnail1").show();
                $("#article-thumbnail1").val(data);
            }
        });
    });
</script>
<script type="text/javascript">

        $(function(){
        $('#file_upload2').uploadify({
            'formData' : {
              <?php $timestamp = time(); ?>
                'timestamp' : '<?php echo $timestamp;?>',
                'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
            },
            'swf'      : '__PUBLIC__/Admin/uploadify/uploadify.swf',
            'uploader' : '__PUBLIC__/Admin/uploadify/uploadify.php',
            'onUploadSuccess' : function(file, data, response) {
                $("#thumbnail2").attr('src', data);
                $("#thumbnail2").show();
                $("#article-thumbnail2").val(data);
            }
        });
    });
</script>
<script type="text/javascript">

        $(function(){
        $('#file_upload3').uploadify({
            'formData' : {
              <?php $timestamp = time(); ?>
                'timestamp' : '<?php echo $timestamp;?>',
                'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
            },
            'swf'      : '__PUBLIC__/Admin/uploadify/uploadify.swf',
            'uploader' : '__PUBLIC__/Admin/uploadify/uploadify.php',
            'onUploadSuccess' : function(file, data, response) {
                $("#thumbnail3").attr('src', data);
                $("#thumbnail3").show();
                $("#article-thumbnail3").val(data);
            }
        });
    });
</script>


</body>
</html>
