/* 业务流程 左 */ 
.bg_div-left {
	float: left;
	width: 33%;
	/* height: 100%; */
}

.bg_div-right {
	float: right;
	width: 67%;
	/* height: 100%; */
}

/* .bg_div-left .swiper-slide{
	background-image: url(../images/imgl01.jpg);
	background-repeat: no-repeat;
	background-position: center 10%;
} */

.bg_div-left .bg_1{
	/* background-image: url(images/imgl01.jpg); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100% !important;
	/* background-color:red; */
	
}

.bg_div-left .bg_2{
	/* background-image: url("../Public/static/img/imgl02.jpg"); */
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: 100% 100% !important;
	/* background-color:cyan; */
}

.bg_div-left .bg_3{
	/* background-image: url(../Public/static/img/imgl03.jpg); */
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 100% !important;
	/* background-color:yellow; */
}
.bg_div-left .bg_4{
	/* background-image: url(../images/imgl04.jpg); */
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 100% !important;
	/* background-color:gray; */
}

.bg_div-left .bg_1 img,.bg_div-left .bg_2 img,.bg_div-left .bg_3 img,.bg_div-left .bg_4 img{
	width:100%!important;
	height:100%!important;
	
	
}



/* 业务流程右 */
.R_bg{
	float: left;
	width: 67%;
}

.R_bg .bg_1 {
	/* background: url(../images/imgr01b.jpg) no-repeat; */
	/* background-size: 100% 100% !important; */
}

.R_bg .bg_2 {
	/* background: url(../Public/static/img/imgr02b.jpg) no-repeat !important; */
	/* background-size: 100% 100% !important; */
}

.R_bg .bg_3 {
	/* background: url(../images/imgr03b.jpg) no-repeat !important; */
	/* background-size: 100% 100% !important; */
}
.R_bg .bg_4 {
	/* background: url(../Public/static/img/imgr04b.jpg) no-repeat !important; */
	/* background-size: 100% 100% !important; */
}


.R_bg .bg_4 img,.R_bg .bg_3 img,.R_bg .bg_2 img,.R_bg .bg_1 img{
	width:100%;
	height:100%;
/* 	transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out; */
}

/* .R_bg:hover img{
	transform:scale(1.02);
	-webkit-transform:scale(1.02);
	-moz-transform:scale(1.02);
	-o-transform:scale(1.02);
	-ms-transform:scale(1.02);
}
 */

/* .R_bg .bg_1imgb img:hover,.R_bg .bg_2imgb img:hover,.R_bg .bg_3imgb img:hover,.R_bg .bg_4imgb img:hover{
	cursor:pointer;
	transform:scale(1.02);
	-webkit-transform:scale(1.02);
	-moz-transform:scale(1.02);
	-o-transform:scale(1.02);
	-ms-transform:scale(1.02);
	transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out;
}
 */

.navbar-collapse dl{
	width:680px;
	margin:0;
	margin-left:50%;
	position:fixed;
	left:-350px;
	top:64px;
}
.navbar-collapse dl img{
	width:40px;
	margin-right:5px;
	height:auto;
}
.navbar-collapse dl a{
	color:#fff;
	font-size:15px;
	line-height:42px;
}
.navbar-collapse dl a:first-child{
	margin-right:380px;
}
.navbar-collapse dl a:visited,.navbar-collapse dl a:link,.navbar-collapse dl a:active{
	text-decoration:none;
	outline:none;
}



.navbar-default img{
	width:100%;
	height:40px;
}


.navbar-brand img{
	width:200px;
	height:auto;
}
.navbar-brand{
	text-decoration:none;
	outline:none;
}
.navbar-brand:visited,.navbar-brand:link,.navbar-brand:active{
	text-decoration:none;
	outline:none;
}
.navbar-nav{
	margin-bottom:10px;
}
.navbar-nav li a{
	margin-bottom:10px;
}

.navbar-nav li a:visited,.navbar-nav li a:link,.navbar-nav li a:active{
	text-decoration:none;
	outline:none;
}



.imgQR-fixed{
	background-color:#0f2d6d;
	/* background-color:cyan; */
	min-height:170px;
	position:absolute;
	bottom:12%;
	/* left:0; */
	text-align:center;
	width:100%;
	z-index:1000;
}

.imgQR-fixed img{
	height:140px!important;
	margin-top:15px;
}



@media screen and (max-width:1370px) {
	.imgQR-fixed{
		background-color:#0f2d6d;
		/* background-color:cyan; */
		min-height:130px;
		position:absolute;
		bottom:12%;
		/* left:0; */
		text-align:center;
		width:100%;
		z-index:1000;
	}

	.imgQR-fixed img{
		height:95px!important;
	}
}


/* @media (min-device-height:900px){ */
@media (max-device-height:900px){
	.imgQR-fixed{
		background-color:#0f2d6d;
		/* background-color:cyan; */
		min-height:100px;
		position:absolute;
		bottom:18.2%;
		/* left:0; */
		text-align:center;
		width:100%;
		z-index:1000;
	}

	.imgQR-fixed img{
		height:100px!important;
		margin-top:6px;
	}
}

@media (min-device-height:1080px){
	.imgQR-fixed{
		background-color:#0f2d6d;
		/* background-color:cyan; */
		min-height:170px;
		position:absolute;
		bottom:12%;
		/* left:0; */
		text-align:center;
		width:100%;
		z-index:1000;
	}

	.imgQR-fixed img{
		height:150px!important;
		margin-top:10px;
	}
}

.cont{
	width:1000px;
	margin:0 auto;
}
.contr{
	width:300px;
	margin-left:300px;
	margin-top:-50px;
}

.contl{
	width:300px;
	float:left;
	margin-top:75px;
}

.contl-nav a{
	font-size:18px;
	width:260px;
	/* border-top:2px solid #0f2c66; */
	border-top:2px solid #e4e4e4;
	/* border-bottom:2px solid #0f2c66; */
	border-bottom:2px solid #e4e4e4;
	display:block;
	line-height:75px;
	text-align:center;
	margin-bottom:-2px;
	color:#2f2a26;
}
.contl-nav-act{
	position:relative;
	z-index:10px;
	border-top:2px solid #0f2c66!important;
	border-bottom:2px solid #0f2c66!important;
	color:#0f2c66!important;
	
	/* background-image:url(../Public/static/arrcr.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 100%; */
}

.cont-detail{
	margin-top:100px;
	margin-bottom:150px;
	font-size:17px;
}
.cont-detail-nav{
	margin-bottom:50px;
}

.cont-detail h1{
	text-align:center;
	border-bottom:1px solid #ccc;
	padding-bottom:30px;
	margin-bottom:30px;
}
.cont-detail h1 i{
	display:block;
	text-align:center;
	color:#666;
	font-size:13px;
	font-style:normal;
	line-height:40px;
}
.cont-detail h1 i span{
	background-color:#f0f0f0;
	margin-left:5px;
	margin-right:5px;
	border-radius:2px;
	padding:0 10px;
	text-decoration:none!important;
	color:#666!important;
}
.cont-detail p{
	text-indent:40px;
	line-height:30px;
}
.cont-detail img{
	max-width:900px !important;
	height:auto !important;
	margin-left:-40px;
}
.cont-detail-prenext{
	margin-top:150px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}

.cont-detail-prenext a{
	display:block;
	line-height:30px;
}
.cont-detail h6{
	text-align:center;
	font-size:20px;
	cursor:pointer;
	margin-top:50px;
}


.cont-detail .cont-detail-img{
	width:100%;
	/* height:auto!important; */
	/* overflow:hidden; */
	position:relative;
	/* text-align:center; */
	margin-top:25px;
	margin-bottom:30px;
}

.cont-detail .cont-detail-img img{
	/* width:100%; */
	/* height:auto!important; */
	/* position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%); */
	
	border:1px solid #ccc;
	padding:6px;
	min-width:700px;
}

.cont-edu-bantxt{
	background-color:#0f2c66;
	position:relative;
}

.cont-edu-bantxt img:first-child{
	position:absolute;
	margin-left:50%;
	left:-495px;
	top:30px;
}

.cont-edu-bantxt img:last-child{
	position:absolute;
	margin-left:50%;
	left:445px;
	bottom:30px;
}


.cont-edu-bantxt p{
	width:900px;
	margin:0 auto;
	color:#fff;
	font-size:18px;
	padding-top:50px;
	padding-bottom:50px;
}
.cont-edu{
	position:relative;
	width:960px;
	margin-left:20px;
}
.cont-edu h1{
	margin-bottom:32px;
	color:#0f2c66;
	font-size:25px;
	font-weight:bold;
}

.edu-class{
	width:960px;
	position:relative;
	margin-bottom:50px;
}

.edu-class img{
	width:960px;
	margin-bottom:10px;
}


.edu-boss{
	width:960px;
	position:relative;
	margin-bottom:50px;
}

.edu-boss img{
	width:960px;
	margin-bottom:10px;
}

.boxitem{
	width:700px;
	position:relative;
	margin-bottom:50px;
	border:2px solid #e8e8e8;
	overflow:hidden;
	padding-left:270px;
	padding-right:10px;
}
.boxitem .imglimt{
	width:250px;
	height:140px;
	overflow:hidden;
	float:left;
	position:relative;
	margin-left:-270px;
}

.boxitem .imglimt img{
	width:250px;
	height:140px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.boxitem h2{
	font-size:17px;
	margin-top:10px;
}
.boxitem h3{
	font-size:12px;
	color:#908e8f;
	line-height:13px;
	margin-top:5px;
}
.boxitem h4{
	font-size:15px;
	color:#616161;
}

.boxitem a:visited,.boxitem a:link,.boxitem a:active{
	color:#222;
	text-decoration:none;
	outline:none;
}



.imglimtb{
	border-bottom:5px solid #0f2c68;
	margin-bottom:35px;
	padding-bottom:30px; 
	width:700px;
}
.imglimtb img{
	width:700px;
}

.imglimtb .carousel-control.left img{
	width:30px;
	position:absolute;
	left:20px;top:42%;
}
.imglimtb .carousel-control.right img{
	width:30px;
	position:absolute;
	right:20px;top:42%;
}


.box-seh{
	width:345px;
	height:36px;
	border:1px solid #dddddd;
	background-color:#f6f6f6;
	border-radius:18px;
	margin-top:85px;
	margin-bottom:35px;
	margin-left:355px;
	position:relative;
}

.box-seh button{
	width:32px;
	height:32px;
	position:absolute;
	right:10px;
	top:2px;
	background-color:#f6f6f6;
	border:none;
}

.box-seh button img{
	width:22px;
	height:22px;
	position:absolute;
	right:3px;
	top:3px;
}
.box-seh input{
	width:280px;
	height:32px;
	background-color:#f6f6f6;
	border:0;
	position:absolute;
	left:20px;
	top:2px;
}
.l_num{
	text-align:center;
	font-size:12px;
	color:#606060;
	margin-bottom:80px;
	width:700px;
}

.l_num a,.l_num span{
	margin-left:10px;
	margin-right:10px;
	padding:4px 9px;
	border-radius:3px;
}

.l_num .lk7{
	background-color:#58b8ea;
	color:#fff;
}
.l_num .lk6{
	background-color:#eeeeee;
	color:#333;
}
.about-shenma{
	position:relative;
	width:1000px;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
}
.about-shenma p{
	color:#242424;
	font-size:15px;
	line-height:30px;
	margin-bottom:15px;
	font-weight:normal;
}
.about-shenma h2{
	color:#242424;
	font-size:25px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #bababa;
	margin-bottom:20px;
}


.xnla-shenma{
	position:relative;
	margin:0 auto;
	margin-bottom:50px;
	width:1000px;
}
.xnla-shenma p{
	color:#242424;
	font-size:17px;
	line-height:30px;
	margin-bottom:30px;
}
.xnla-shenma h1{
	text-align:center;
}
.xnla-shenma h1 img{
	margin-top:20px;
	width:150px!important;
	min-width:150px!important;
	
}

.xnla-shenma h2{
	color:#242424;
	font-size:28px;
	line-height:35px;
	text-align:center;
	border-bottom:1px solid #bababa;
	padding-bottom:20px;
	margin-bottom:20px;
}


.history-shenma{
	margin-top:50px;
	/* margin-left:50px; */
	height:400px;
	width:1000px;
	padding:0 !important;
	position:relative;
	/* overflow:hidden; */
	
	
	background-image:url(../img/imgbkmap.jpg);
	background-repeat: no-repeat;
	/* background-repeat: repeat-x; */
	/* background-position: 80% 80%; */
	background-size: 100% 100% !important;
	
	
}




.history-shenma .item a img{
	width:1000px !important;
	height:auto !important;
	min-width:1000px !important;
}
.history-shenma h2{
	color:#242424;
	font-size:25px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #bababa;
	margin-bottom:20px;
}



.history-shenma .carousel-control.left img{
	position:absolute;
	left:-50px;top:37%;
}
.history-shenma .carousel-control.right img{
	position:absolute;
	right:-50px;top:37%;
}


@media screen and (max-width:1370px) {
	.history-shenma .carousel-control.left img{
		position:absolute;
		left:-30px;top:32%;
	}
	.history-shenma .carousel-control.right img{
		position:absolute;
		right:-30px;top:32%;
	}

}


@media (max-device-height:900px){
	.history-shenma .carousel-control.left img{
		position:absolute;
		left:-30px;top:36%;
	}
	.history-shenma .carousel-control.right img{
		position:absolute;
		right:-30px;top:36%;
	}
}


.core-shenma {
	height:1150px;
	margin-top:50px;
}

.core-shenma h2{
	color:#242424;
	font-size:25px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #bababa;
	margin-bottom:20px;
}

.core-shenma li:nth-child(2){
	margin-left:51px;
}
.core-shenma li:nth-child(3){
	margin-left:110px;
}
.core-shenma li:nth-child(4){
	margin-left:110px;
}
.core-shenma li:nth-child(5){
	margin-top:70px;
	margin-left:-30px;
}
.core-shenma li:nth-child(6){
	margin-top:70px;
	margin-left:52px;
}
.core-shenma li:nth-child(7){
	margin-top:70px;
	margin-left:52px;
}
.core-shenma li:nth-child(8){
	margin-top:70px;
	float:right;
	margin-right:-30px;
}

.core-shenma .corep{
	/* display:block; */
	width:226px;
	height:445px;
	float:left;
	background-color:#fff;
	-webkit-box-shadow: #ddd 0px 10px 20px;
	-moz-box-shadow: #ddd 0px 10px 20px;
	box-shadow: #ddd 0px 10px 20px;
	overflow:hidden;
}

.core-shenma .corep:hover{
	cursor:pointer;
	background-color:#fff;
	-webkit-box-shadow: #888 0px 15px 20px;
	-moz-box-shadow: #888 0px 150px 20px;
	box-shadow: #888 0px 15px 20px;
}


.core-shenma .corep img{
	width:226px;
	transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out;
}

.core-shenma .corep:hover img{
	transform:scale(1.06);
	-webkit-transform:scale(1.06);
	-moz-transform:scale(1.06);
	-o-transform:scale(1.06);
	-ms-transform:scale(1.06);
}
.core-shenma h3{
	display:block;
	color:#393939;
	font-size:28px;
	line-height:35px;
	text-align:center;
	margin-top:30px;
}
.core-shenma span{
	display:block;
	color:#5e8ddd;
	font-size:12px;
	line-height:30px;
	text-align:center;
	border-bottom:1px solid #a7b2c8;
	width:170px;
	margin-left:28px;
}
.core-shenma h5{
	display:block;
	/* color:#cecfd3; */
	color:#9396a5;
	font-size:14px;
	line-height:20px;
	text-align:center;
	width:170px;
	margin-left:28px;
}

/* .culture-shenma{
	position:relative;
	background-image: url(Public/static/img/imgabtbk.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 100% !important;
} */

.culture-shenma{
	position:relative;
}

.culture-shenma img{
	width:100%;
	min-width:1000px;
}

/* .culture-shenma-md{
	width:1200px;
	min-width:1200px;
	position:absolute;
	margin-left:50%;
	left:-600px;
	top:10%;
	border:1px solid red;
	z-index:100;
} */

.culture-shenma-md img{
	width:55%;
	min-width:1000px;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}



.xnl-shenma{
	position:relative;
}

.xnl-shenma img{
	width:100%;
	min-width:1000px;
}

.xnl-shenma-md{
	color:#fff;
	font-size:22px;
	line-height:32px;
	letter-spacing:1px;
	text-align:center;
	width:70%;
	min-width:1000px;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.msb-shenma{
	background-image:url(../img/msb.png);
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-position: center center;
	/* background-size: 100% 100% !important; */
	height:90px;
	margin-top:-90px;
	position:relative;
	z-index:10;
}
.msa-shenma{
	background-image:url(../img/msa.png);
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-position: center center;
	/* background-size: 100% 100% !important; */
	height:90px;
	margin-top:-90px;
	position:relative;
	z-index:10;
}


.contact-qa{
	position:relative;
	width:100%;
	padding-left:50%;
	/* background-color:#ccc; */
	margin-bottom:100px;
	margin-top:50px;
	overflow:hidden;
}
.contact-qa img:first-child{
	width:100%;
	margin-left:-100%;
}
.contact-qar{
	position:absolute;
	left:50%;
	top:0;
	width:100%;
	height:100%;
	overflow-y:auto;
	padding-left:40px;
}

.contact-qar h1{
	margin-top:2px;
	margin-bottom:30px;
	font-size:25px;
}

.contact-qar .in{
	/* background-image:url(../img/arh.png);
	background-repeat: no-repeat;
	background-size:20px 20px; */
}

.contact-qar .on{
	/* background-image:url(../img/alh.png);
	background-repeat: no-repeat;
	background-size:20px 20px; */
}

.contact-qar .panel-info-titl{
	font-size:18px;
	border-top:1px solid #252525;
	width:40%;
	line-height:30px;
	cursor:pointer;
}
.contact-qar .claps-area{
	font-size:14px;
	padding-bottom:12px;
}
.contact-qar .claps-area h3{
	font-size:14px;
	line-height:16px;
	margin-top:3px;
	width:40%;
	color:#999;
}


/* .contact-qar .panel-info-titl:before{
	content:" ";
	display:inline-block;
	width:10px;
	height:10px;
	background-color:#58b9e6;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:3px;
}

.contact-qar .container-fluid .panel-info-titl:before{
	content:" ";
	display:inline-block;
	width:0;
	height:0;
	background-color:#fff;
	border-radius:0;
	margin-right:0;
	margin-bottom:0;
}
 */
.contact-qar .clapstit-acta:before{
	content:" ";
	display:inline-block;
	width:8px;
	height:8px;
	background-color:#58b9e6;
	border-radius:4px;
	margin-right:10px;
	margin-bottom:4px;
}

.contact-qar .container-fluid .clapstit-acta:before{
	content:" ";
	display:inline-block;
	width:0;
	height:0;
	background-color:#58b9e6;
	border-radius:0;
	margin-right:0;
	margin-bottom:0;
}
/* .contact-qar .container-fluid .clapstit-acta:after{
	background-image:url(../img/alh.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100% !important;
	height:30px;
	width:30px;
	margin-left:10px;
	content:" ";
	display:inline-block;
	background-color:#58b9e6;
	border-radius:5px;
	margin-left:10px;
	margin-bottom:6px;
	
	
} */
.contact-qar .clapstit-actb:before{
	content:" ";
	display:inline-block;
	width:8px;
	height:8px;
	background-color:#000;
	border-radius:4px;
	margin-right:10px;
	margin-bottom:4px;
}
.contact-qar .container-fluid .clapstit-actb:before{
	content:" ";
	display:inline-block;
	width:0;
	height:0;
	background-color:#000;
	border-radius:0;
	margin-right:0;
	margin-bottom:0;
}
/* .contact-qar .container-fluid .clapstit-actb:after{
	content:" ";
	display:inline-block;
	width:10px;
	height:10px;
	background-color:#000;
	border-radius:5px;
	margin-left:10px;
	margin-bottom:6px;
}
 */


.contact-qar .clapstit-acta{
	color:#009fe3;
}
.contact-qar .clapstit-actb{
	color:#252525;
}
.contact-qar .claps-area{
	color:#656565;
}
.boxmapcont{
	width:100%;
	height:600px;
	overflow:hidden;
	position:relative;
	background-color:#0f2c66;
}
#dituContent{
	width:100%;
	height:650px;
	filter:alpha(opacity=37);
	-moz-opacity:.37;
	-khtml-opacity:.37;
	opacity:.37;
}


.contact-msg{
	width:940px;
	margin:0 auto;
	margin-top:-50px;
	position:relative;
	z-index:10;
	background-color:#fff;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:110px;
	margin-bottom:70px;
	-webkit-box-shadow: #ddd 0px 5px 5px;
	-moz-box-shadow: #ddd 0px 5px 5px;
	box-shadow: #ddd 0px 5px 5px;
}
.contact-msgr{
	width:350px;
	position:absolute;
	right:15px;
	top:60px;
	/* background-color:red; */
}
.contact-msg img{
	width:458px;
	margin-top:-190px;
	margin-left:-20px;
}
.contact-msgl label{
	font-size:15px;
	margin-left:8px;
	margin-right:8px;
}
.contact-msgl input{
	width:125px;
	height:36px;
	border-radius:8px;
	border:1px solid #919191;
	padding-left:8px;
	padding-right:8px;
	font-size:16px;
}
.contact-msgl textarea{
	width:510px;
	height:140px;
	border-radius:8px;
	border:1px solid #919191;
	/* padding:8px; */
	font-size:15px;
	margin-left:10px;
	margin-right:15px;
	margin-top:20px;
	padding:10px;
}
.contact-msgl input:last-child{
	width:175px;
	height:40px;
	border-radius:8px;
	/* border:1px solid #919191; */
	/* padding-left:8px; */
	/* padding-right:8px; */
	font-size:16px;
	background-color:#0f2c66;
	color:#fff;
	position:absolute;
	left:30px;
	top:280px;
}
.contact-msgr h4{
	font-size:18px;
	letter-spacing:1px;
	line-height:18px;
	margin-bottom:0;
}
.contact-msgr h6{
	font-size:13px;
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	padding-top:0;
	padding-right:0;
	display:inline-block;
}
.contact-msgr h5{
	font-size:16px;
	line-height:20px;
}

.box-news-contact{
	width:1100px;
	margin:0 auto;
}





/* .claps-tittt{
	background-color:red;
	cursor:pointer;
	margin-top:55px;
	display:block;
}
.claps-tittt-area{
	background-color:gray;
}
.claps-tittt-area li{
	border:1px solid red;
	display:inline-block;
}
.claps-tittt-area li a{
	margin-left:15px;
	margin-right:15px;
	color:#aeaeae!important;
} */

#zpmore{
	position:absolute;
	right:145px;
	top:87px;
	cursor:pointer;
	font-size:16px;
	color:#58b8ea;
}
.contact-recruit{
	width:100%;
	margin:0 auto;
	margin-top:40px;
	min-height:630px;
	/* overflow:hidden; */
}
.contact-recruitmd{
	width:1000px;
	margin:0 auto;
	position:relative;
}
/* .contact-recruitmd h1{
	text-align:center;
	line-height:80px;
	border-bottom:1px solid #ccc;
}
 */
.contact-recruitmd h1{
	color:#242424;
	font-size:25px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #bababa;
	margin-bottom:20px;
}

.contact-recruitmd .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none;
	border-bottom:2px solid #58b8ea;
	color:#000!important;
}

/* .contact-recruitmd .nav-tabs > li:first-child{
	margin-left:100px;
} */
.contact-recruitmd .nav-tabs > li a{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	color:#666!important;
	font-size:15px;
	line-height:12px;
	width:60px;
	text-align:center;
}
.contact-recruitmd .nav-tabs > li{
	line-height:12px;
}
.contact-recruitmd .nav-tabs{
	border-bottom:none;
	width:740px;
	/* background-color:cyan; */
	height:35px;
	overflow:hidden;
	margin-left:30px;
}

.contact-recruit-detail{
	background-color:#fafafa;
	width:740px;
	height:390px;
	overflow:hidden;
	margin-left:30px;
	margin-top:20px;
	padding-left:30px;
	padding-top:15px;
	padding-right:40px;
	padding-bottom:60px;
	-webkit-box-shadow: #ddd 0px 10px 20px;
	-moz-box-shadow: #ddd 0px 10px 20px;
	box-shadow: #ddd 0px 10px 20px;
	overflow-y:auto;
}
.contact-recruit-detail h2{
	font-size:18px;
	line-height:40px;
	color:#111;
	border-bottom:1px solid #111;
}
.contact-recruit-detail h4{
	font-size:16px;
	line-height:20px;
	color:#111;
}
.contact-recruit-detail h5{
	font-size:13px;
	line-height:15px;
	color:#111;
}
.contact-recruit-nav{
	width:220px;
	padding-left:40px;
	margin-top:-12px;
	margin-left:780px;
	margin-top:-440px;
	overflow-y:auto;
	height:440px;
}

.contact-recruit-nav .panel-info-titl{
	font-size:17px;
	color:#242424;
	line-height:30px;
	border-top:1px solid #e7e7e7;
	cursor:pointer;
	margin-top:7px;
	/* margin-bottom:7px; */
}
.contact-recruit-nav a:first-child .panel-info-titl{
	border:none;
}
.contact-recruit-nav li a{
	font-size:13px;
	color:#5e5e5e;
	line-height:23px;
	outline:none;
	text-decoration:none;
}

.contact-recruit-nav li:before{
	content:" ";
	display:inline-block;
	width:6px;
	height:6px;
	background-color:#5e5e5e;
	border-radius:3px;
	margin-right:5px;
	margin-bottom:2px;
}




.contact-recruit-email{
	width:740px;
	height:50px;
	padding-left:30px;
	/* position:absolute;
	left:30px;
	top:620px; */
	margin-left:30px;
	background-color:#fff;
	-webkit-box-shadow: #ddd 0px 10px 20px;
	-moz-box-shadow: #ddd 0px 10px 20px;
	box-shadow: #ddd 0px 10px 20px;
}
.contact-recruit-email a{
	color:#009fe3;
	font-size:20x;
	line-height:50px;
}



.apply-top{
	position:relative;
	margin-top:68px;
}

.apply-top img{
	width:100%;
	min-width:1000px;
}

.apply-top-md {
	width:550px;
	min-width:550px;
	height:200px;
	/* background-color:red; */
	/* height:auto; */
	position:absolute;
	top:45%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.apply-top-md a:first-child{
	width:160px;
	display:inline-block;
	float:left;
	text-align:center;
}
.apply-top-md a:last-child{
	width:160px;
	display:inline-block;
	float:right;
	text-align:center;
}


.apply-top-md a img{
	display:block;
	width:134px;
	min-width:134px;
	transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out;
	margin-left:13px;
}

.apply-top-md a:hover img{
	transform:scale(1.06);
	-webkit-transform:scale(1.06);
	-moz-transform:scale(1.06);
	-o-transform:scale(1.06);
	-ms-transform:scale(1.06);
}

.apply-top-md a h1{
	font-size:30px;
	line-height:30px;
	text-align:center;
	color:#3e3a39;
	width:155px;
}
.apply-top-md a h2{
	font-size:16px;
	line-height:16px;
	text-align:center;
	color:#3e3a39;
	width:155px;
	/* font-weight:bolder; */
	margin-top:-5px;
}

.apply-top-md a{
	text-decoration:none;
	outline:none;
}
.apply-top-md a:hover{
	text-decoration:none;
	outline:none;
}

.apply-app{
	width:100%;
	background-color:#102c67;
}
.apply-app-md{
	width:720px;
	min-height:150px;
	margin:0 auto;
	padding-top:35px;
	position:relative;
}

.apply-app-md h3 {
	display:inline-block;
	margin-top:20px;
}
.apply-app-md h3 img{
	width:350px;
	
}



.apply-app-md a{
	float:right;
	display:inline-block;
	background-image:linear-gradient(to bottom,#fbdc4a,#f9d348,#f6c646,#fbdc4a);
	background: -moz-linear-gradient(to bottom,#fbdc4a,#f9d348,#f6c646,#fbdc4a);
	background: -webkit-linear-gradient(to bottom,#fbdc4a,#f9d348,#f6c646,#fbdc4a);
	background: -o-linear-gradient(to bottom,#fbdc4a,#f9d348,#f6c646,#fbdc4a);
	background: -ms-linear-gradient(to bottom,#fbdc4a,#f9d348,#f6c646,#fbdc4a);
	border-radius:5px;
	outline:none;
}
.apply-app-md a:hover{
	text-decoration:none;
	outline:none;
}

.apply-app-md a img{
	width:250px;
	transition:All 0.8s ease-in-out;
	-webkit-transition:All 0.8s ease-in-out;
	-moz-transition:All 0.8s ease-in-out;
	-o-transition:All 0.8s ease-in-out;
}

.apply-app-md a:hover img{
	transform:scale(1.03);
	-webkit-transform:scale(1.03);
	-moz-transform:scale(1.03);
	-o-transform:scale(1.03);
	-ms-transform:scale(1.03);
}

.apply-app-md a i{
	min-width:310px;
	height:150px;
	position:absolute;
	top:0;
	right:-200px;
	transition:All 0.7s ease-in-out;
	-webkit-transition:All 0.7s ease-in-out;
	-moz-transition:All 0.7s ease-in-out;
	-o-transition:All 0.7s ease-in-out;

	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	z-index:-1;
	
	background-color:#102c67;
	padding-top:10px;
	padding-bottom:10px;
}

.apply-app-md a i img{
	width:auto;
	height:130px;
	display:inline-block;
	float:right;
	margin-right:25px;
}
.apply-app-md a:hover i /* img */{
	display:block;
	top:0;
	right:-20px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	z-index:1000;
	transform:scale(1.0);
	-webkit-transform:scale(1.0);
	-moz-transform:scale(1.0);
	-o-transform:scale(1.0);
	-ms-transform:scale(1.0);
}





.apply-cartoon{
	position:relative;
	height:550px;
}

.apply-cartoon img{
	width:100%;
	min-width:1000px;
}


.apply-cartoon-md img{
	width:900px;
	min-width:900px;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.apply-goods{
	position:relative;
}

.apply-goods img{
	width:100%;
	min-width:1000px;
}

.apply-goods-md img{
	width:36%;
	min-width:36%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform:translate(-50%,-50%); 
}




.apply-loans{
	position:relative;
	/* min-height:1300px; */
	/* height:1600px; */
	/* overflow:hidden; */
	padding-bottom:80px;
	
	
	background-image:url(../img/bkimgArr.png);
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-position: 0 0;
	/* min-height:500px; */

}

.apply-loans img{
	width:100%;
	min-width:1000px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

.apply-loans-md{
	width:680px;
	margin:0 auto;
}

.apply-loans-md img{
	width:680px;
	min-width:680px;
	position:relative;
	margin-top:80px;
}
.goods-spfq-md{
	width:850px;
	margin:0 auto;
}
.goods-spfq-md img{
	width:850px;
	min-width:850px;
	margin-top:40px;
}

.goods-core{
	position:relative;
	background-image:url(../img/bkimgArr.png);
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-position: 0 0;
	/* min-height:600px; */
}
/* .goods-coreb{
	position:relative;
	background-image:url(../img/bkimgArr.png);
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-position: 0 0;
	min-height:1000px;
} */

.goods-core-md{
	/* width:1000px;
	margin-left:50%;
	position:absolute;
	top:0;
	left:-500px; */
	
	width:850px;
	margin:0 auto;
}

.goods-core img{
	width:850px;
	min-width:850px;
	margin-top:40px;
	margin-bottom:55px;
}


.goods-core-md h2{
	text-align:center;
	font-size:14px;
	line-height:25px;
	margin-top:60px;
}

.goods-core-md h2 span{
	border-bottom:2px solid #aaa;
	font-size:30px;
	margin-top:10px;
}










.bannertop{
	margin-top:65px;
	/* border-top:1px solid red; */
}

.bannertop img{
	width:100%;
	min-width:100px;
}


a:visited,a:link,a:active{
	text-decoration:none;
	outline:none;
}






.maskbar{
	background-color:#fff;
	width:100%;
	height:100px;
	position:absolute;
	top:-100px;
	left:0;
}

.maskbarb{
	background-color:#fff;
	width:100%;
	height:50px;
	position:absolute;
	top:-30px;
	left:0;
	z-index:1000;
}



.btnud{
	display:block;
	position:absolute;
	bottom:170px;
	left:15%;
	z-index:1000;
	padding:3px!important;
	background: transparent;
	border:none;
	color:#fff;
	font-size:25px;
	/* border:1px solid #fff; */
	/* padding:4px 5px 1px 5px; */
}
.btnud:hover{
	color:#58b8ea;
}




