<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
	<link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
	<script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/laydate/laydate.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/lang/zh_CN.js"></script>

<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploader/webuploader.css">
<!--引入JS-->
<script type="text/javascript" src="__PUBLIC__/Admin/uploader/webuploader.js"></script>
	<script>
		KindEditor.ready(function(K) {
			window.editor = K.create('#editor_id');
		});
	</script>

	
</head>
<body>

<include file="Public:nav_top" />
<include file="Public:nav_left" />

<div class="cont">
	<div class="contmain">
		
		<div class="boxi">
			<h1>编辑文章</h1>
			
			<form action="<{:U('Article/edit')}>" method="post" enctype="multipart/form-data">
				<div class="boxinb">
					<span>文章标题</span><input type="text" class="form-control"  name="title" value="<{$article_data.title}>">
				</div>
				<div class="boxinb">
					<span>网页标题</span><input type="text" class="form-control"  name="web_title" value="<{$article_data.web_title}>">
				</div>
				<div class="boxinb">
					<span>信息属性</span>
					<label><input type="checkbox" name="is_top" <if condition="$article_data['is_top'] == 1">checked</if> />首页头条</label>
					<label><input type="checkbox" name="is_recommend" <if condition="$article_data['is_recommend'] == 1">checked</if> />首页多条</label>
					<label><input type="checkbox" name="status" <if condition="$article_data['status'] == 1">checked</if> />发布</label>
				</div>
				<div class="boxinb">
					<div class="boxinbl">
						<span class="lets2">作&nbsp;&nbsp;&nbsp;&nbsp;者</span><input type="text" class="form-control" name="author" value="<{$article_data.author}>">
					</div>
					<div class="boxinbr">
						<span class="lets2">日&nbsp;&nbsp;&nbsp;&nbsp;期</span><input type="text" id="demo"  class="form-control laydate-icon" name="newstime"  value="<{$article_data.newstime}>">
					</div>
				</div>
				<div class="boxinb">
					<span class="lets2">点&nbsp;击&nbsp;量</span><input type="text"  class="form-control"  value="<{$article_data.click}>"  name="click">
				</div>
				<div class="boxinb">
					<span class="lets3">关&nbsp;键&nbsp;词</span><input type="text"  class="form-control" placeholder="多个关键词用“,”半角逗号隔开"  name="keywords" value="<{$article_data.keywords}>">
				</div>
              <div class="boxinb">
                    <div id="uploader-demo">
                        <!--用来存放item-->
                        
                        <div id="filePicker">选择图片</div>
                        <input id="thumbnail" type="hidden" name="thumbnail" value="<{$article_data.thumbnail}>">
                        <img id="oldimg" src="<{$article_data.thumbnail}>" width="300px" height="200px">
                        <div id="fileList" class="uploader-list"></div>
                    </div>
              </div>
<!-- 				<div class="boxinb">
					<span class="lets2">标&nbsp;&nbsp;&nbsp;&nbsp;签</span><input type="text" name="" class="form-control" placeholder="多个标签用“,”半角逗号隔开">
				</div> -->
				<div class="boxtextb">
					<span>内容简介</span><textarea  rows="6" class="form-control" name="synopsis"><{$article_data.synopsis}></textarea>
				</div>
				
				<div class="boxuediter">
					<div class="lets2">正&nbsp;&nbsp;&nbsp;&nbsp;文</div>
					<div class="uediter">

						<textarea id="editor_id" name="content" style="width:700px;height:300px;">
							<{$article_data.content}>
						</textarea>

					</div>
				</div>
				<div class="boxinbtn">
					<input type="hidden" name="article_id" value="<{$article_data.article_id}>">
					<input type="hidden" name="cate_id" value="<{$article_data.cate_id}>">
					<input type="submit" value="确定" class="btn btna" />
					<input type="reset" value="重置" class="btn btnb" />
				</div>
				
			</form>
		</div>
	
	</div>
</div>
<script>
	;!function(){
		laydate({
		   elem: '#demo'
		})
	}();
</script>
<script src="__JS__/sdmenu.js"></script>
<script type="text/javascript">
var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼。 
   // var $btn =$("#ctlBtn");   //开始上传  
   var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
   var thumbnailHeight = 100;  
// 初始化Web Uploader
var uploader = WebUploader.create({
    // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    swf: '__PUBLIC__/Admin/uploader/Uploader.swf',
    // 文件接收服务端。
    server: '<{:U('Admin/Banner/up')}>',
    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',
    // // 只允许选择图片文件。
    // accept: {
    //     title: 'Images',
    //     extensions: 'gif,jpg,jpeg,bmp,png',
    //     mimeTypes: 'image/*'
    // }
});
// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
        $img = $li.find('img');
    // $list为容器jQuery实例
    $list.append( $li );
    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }
        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});
   // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
   uploader.on( 'uploadSuccess', function( file , response) {  
        $('#oldimg').remove();
        $("#thumbnail").attr('value', '/Public/Upload/'+response);
   });  

</script>

</body>
</html>
